#gotop {
    margin: 4px;
    position: fixed;
    top:0px;
    left:0px;
}

/* <= xs  */
@media(max-width: 768px) {
    #content { margin: 0 12px;}

    .text-center-xs { text-align: center !important; }
}
/* >= sm */
@media(min-width: 768px) {
    #container { margin-top: 20px; }
}
/* >= md */
@media(min-width: 992px) {}
/* >= lg */
@media(min-width: 1200px) {}