<div class="panel-primary">
    <div class="panel-heading">
        <div class="col-xs-8 text-justify text-center-xs">
            <strong>{{ task.title }}</strong>
        </div>
        <div class="col-xs-4 text-right text-center-xs">
            {% include 'task/_complete.html' with task=task only %}
        </div>
        <div class="clearfix"></div>
    </div>

    {% if task.content %}
    <div class="panel-body">
        <p class="text-justify text-center-xs">{{ task.content }}</p>
    </div>
    {% endif %}

    <div class="panel-footer">
        <div class="col-sm-6 text-left text-center-xs">
            <small>
                <strong title="Publication date">Pub. Date: </strong>
                <span class="{{ task.pub_date }}">{{ task.pub_date|date }} <span class="glyphicon glyphicon-time"></span></span>
            </small>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
            <small>
                <strong title="Deadline date">Deadline: </strong>
                {% include 'task/_deadline.html' with task=task only %}
            </small>
        </div>
        <div class="clearfix"></div>
    </div>
</div>