<div class="col-xs-6 text-left">
    <strong><a href="{{ task.get_absolute_url }}">{{ task.title|truncatechars:'20' }}</a></strong>
</div>
<div class="col-xs-6 text-right">
    <span class="{% if task.deadline %}
                    {% if task.is_near_deadline %}
                        text-warning
                    {% elif task.is_past_deadline %}
                        text-danger
                    {% else %}
                        text-info
                    {% endif %}
                {% else %}
                    text-muted
                {% endif %}">
            {% if task.deadline %}
                {% if task.is_past_deadline %}
                    {{ task.deadline|timesince }} late
                {% else %}
                    {{ task.deadline|timeuntil }} left
                {% endif %}
            {% else %}
                (no deadline)
            {% endif %}
        <span class="glyphicon glyphicon-time"></span>
    </span>
    <!--<form method="post" action="{{ task.get_absolute_url }}complete/">-->
        <!--<button type="submit"-->
           <!--class="btn btn-xs {% if not task.completed %}btn-primary{% else %}btn-danger{% endif%}">-->
           <!--{% if not task.completed %}Mark{% else %}Unmark{% endif%}-->
       <!--</button>-->
    <!--</form>-->
</div>


