{% extends 'base/bootstrap3.html' %}

{% load bootstrap3 %}
{% load url from future %}
{% load static from staticfiles %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" title="taskr" href="{% static 'css/main.css' %}" />
{% block extra_head %}{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
{#<div id="gotop">#}
{#    <a href="#top" class="btn btn-xs btn-info">#}
{#        <small>Go to top <span class="glyphicon glyphicon-arrow-up"></span></small>#}
{#    </a>#}
{#</div>#}
<div id="container" class="container col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div id="header" class="row">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'taskr:index' %}">
                    <strong>Taskr!</strong>
                    <small><sup class="text-muted">BETA</sup></small>
                </a>
            </div>

            <div id="navbar-collapse" class="navbar-collapse collapse ">
            {% include 'base/_navbar_contents.html' %}
            </div>
        </div>
    </div>

    {% bootstrap_messages %}

    <div id="content" class="row">
        <div class="{% block content_class %}col-lg-10 col-lg-offset-1{% endblock %}">
        {% block content %}(no content){% endblock %}
        </div>
    </div>

    <div class="row">
        <hr />
    </div>

    <div id="footer" class="row">
        {% include 'base/_footer_contents.html' %}
    </div>
</div>
{% endblock %}