{% extends 'base.html' %}

{% load bootstrap3 %}
{% load tz %}

{% block title %}Home{% endblock %}

{% block content %}
<form class="row-fluid" method="post" action="{% url 'taskr:home' %}">
    {% bootstrap_form form %}
    {% csrf_token %}
    {% buttons %}<div class="form-group"><button type="submit" class="btn btn-primary">Send</button></div>{% endbuttons %}
</form>
<div class="row-fluid">
    <hr />
</div>
<div class="row-fluid">
    {% if tasks %}
        {% for task in tasks %}
            <div class="col-md-6">
                {% include '_task_listing.html' with task=task only %}
            </div>
        {% endfor %}
    {% else %}
    n/a
    {% endif %}
</div>
{% endblock %}